.traffic-top{
  background-color: black;
  width: 20px;
  margin: 0 auto;
  height: 100px;
}

.container{
  background-color: black;
  width: 120px;
  margin: 0 auto;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10%;
}

.red{
  height: 70px;
  width: 70px;
  background-color:red;
  border-radius: 50%;
  align-self: center;
  margin-top: 5px;
}

.red.on{
  height: 70px;
  width: 70px;
  background-color:red;
  border-radius: 50%;
  align-self: center;
  margin-top: 5px;
  box-shadow: 0 0 30px 3px yellow;
}

.yellow{
  height: 70px;
  width: 70px;
  background-color:yellow;
  border-radius: 50%;
  align-self: center;
}
.yellow.on{
  height: 70px;
  width: 70px;
  background-color:yellow;
  border-radius: 50%;
  align-self: center;
  margin-top: 5px;
  box-shadow: 0 0 30px 3px yellow;
}

.green{
  height: 70px;
  width: 70px;
  background-color:green;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 5px;
}

.green.on{
  height: 70px;
  width: 70px;
  background-color:green;
  border-radius: 50%;
  align-self: center;
  margin-top: 5px;
  box-shadow: 0 0 30px 3px yellow;
}